<% include ./partials/header %>

<% blogs.forEach(function(el){ %>
  <div>
    <h2><%= el.title %></h2>
    <img src="<%= el.image %>">
    <span><%= el.created %></span>
    <p><%= el.body %></p>
  </div>
<% }); %>

<% include ./partials/footer %>